.inbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.unread-container {
    margin: auto;
    box-sizing: border-box;
    width: 45%;
}
.messageimg {
    width: 50px;
    height: 50px;
    padding: 15px;
}
.unread-container div {
    margin:  6px auto;
}


.read-container {   
    width: 45%;
    margin: auto;
}

.read-container div {
    margin: 6px auto;

}

.message-div {
    box-shadow: 1px 1px 29px 2px rgb(138, 136, 136) inset;
    padding: 10px 6px;
    border-radius: 5px;
}
.item-name {
    padding-top: 3px;
    padding-bottom: 3px;
}
/* hide */
textarea {
    width: 115px;
    height: 40px;
    background: transparent;
    box-shadow: 1px 1px 2px 2px gray;
}

textarea:focus {
    box-shadow: 1px 1px 2px 2px gray inset;
}

.date-div {
    font-size: .75em;
    text-shadow: 1px .5px 1px gray;
    padding: 2px;
}

.map-container p {
    position: relative;
    width: 100%;
    color: rgba(128, 128, 128, 0);
    text-shadow: 1px 4.5px 5px rgb(107, 106, 106);
}

.hide-me {
    display: none;
}

.show-me {
    width: 50%;
    height: 100px;
    background: blue;
}

@media (max-width: 500px) {
    .inbox-container {
        font-size: .75em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}