.container {
    margin: auto;
    width: 100%;
    background: #fcfafd;
    box-sizing: border-box;
}

.button-container button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}