body {
    height: 100%;
    background: #fcfafd;
}

.bag-container {
    height: 100vh;
    margin: auto;
    width: 100%;
    background: #fcfafd;
}

.bag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bag p {
    margin: 3px;
    display: flex;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: .75px solid rgba(0, 0, 0, 0.452);
    width: 25%;
}

.bag p img {
    width: 20%;
}

.bag p button {
    padding: 5px;
    border-radius: 5px;
}

.bag p button:hover {
    padding: 10px;
    font-weight: 800;
}

.bag img {
    width: 85px;
    height: 85px;
}

.bag img:active {
    height: 200px;
    width: 180px;
}

.rented {
    background: #e8ffea;
}

.not-rented {
    background: #ededed
}

@media (max-width: 1000px) {
    .bag p {width: calc(100% /4);}
}

@media (max-width: 850px) {
    .bag p {width: calc(100% /3.8);}
}

@media (max-width: 760px) {
    .bag p {width: calc(100% /3.5);}
}

@media (max-width: 670px) {
    .bag p {width: calc(100%/2.3)}
}
@media (max-width: 480px) {
    .bag p {width: calc(100%/2)}
} 
@media (max-width: 400px) {
    .bag p {width: calc(100%/1.7)}
}
