.profile-container {
    width: 100%;
    height: 100vh;
    background: #fcfafd;
    font-family: 'futura-light';
}

.list-dos {
    width: 100%;
}

.thingswedo {
    line-height: 17px;
    font-size: .85em;
    width: 100%;
}
.user-info div {
    /* width: 100%; */
    margin: auto;
}

.user-info input {
    margin: auto;
}
.thingstodo {
    margin: auto;
    display: flex;
}

.thingstodo h1 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.thingstodo div {
    margin-right: auto;
    margin-left: auto;
}
.nameprofile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: auto; */
    width: 100%;
}

.nameprofile input {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    font-size: 1.25em;
    background: transparent;
    border: gray;
}

.name {
    background: transparent;
    border: transparent;
}


.noaboutme {
    margin-bottom: 10px;
    font-size: .75em;
    font-style: italic;
    color: gray;
    font-weight: 500;
}
.aboutme {
    margin-bottom: 10px;
    font-size: .75em;
}
.profilepic img {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.button-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container-child div{
    margin: auto;
    width: 100%;
}


.button-container button {
    font-family: 'futura-light';
    font-size: .85em;
    letter-spacing: 4px;
    /* color: rgb(16, 71, 16); */
    font-weight: 500;
    background: #0936374c;
    border: none;
    margin-bottom: 6%;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
}
/* BUTTON STYLES */
.button-container button:focus {outline:0}
.button-container button:hover {font-weight: 900;}

@media (max-width: 700px) {
    .button-container-child {
        width: 60%;
    }
}

