.product-details-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    background: #fcfafd;
}
    .product-details-wrapper img {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 15%;
 
    }

    .product-title {
        margin: 15px;
        font-size: 1.5em;
    }

    .details-wrapper {
        padding: 15px;
    }

    .product-details {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .buttons button {
        margin-right: 7px;
        background: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 2px 2px  gray;
        margin-top: 15px;
    }

    .images-details {
        border-radius: 3px;
        overflow: scroll;
        height: 50vh;
        box-shadow: 3px 6px 9px rgba(0, 0, 0, .5);
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
    }

    .images-details img {
        box-shadow: 0 0 2px 2px  black;
        height: 275px;
        width: 250px;
        border-radius: 5px;
        margin-right: 2.5px;
        margin-left: 2.5px;
        cursor: pointer;
    }


    .images-details img:active {
        transition: ease-in;
        transition-duration: .25s;
        margin: auto;
        position: absolute;
        padding: 7px;
        height: 50%;
        width: 50%;
    }