.search {
    color:  rgb(16, 71, 16);;
    height: 100vh;
    width:  100%;
    background: #fcfafd;
}

.search img {
    width: 34%;
    height: 50%;
}

input {
    outline: none;
    margin-right: 5px;
    padding: 3px;
    border: .5px solid gray;
    border-radius: 4px;
}

input:focus {
    transition: ease-in-out;
    transition-duration: .15s;
    box-shadow: 1px 1px 6px 1px rgba(128, 128, 128, 0.664) inset;
}

.form button {
    padding: 4px;
}

select {
    outline: none;
    margin-right: 5px;
}

.form {
    margin-top: 10px;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-list {
    width: 50%;
    padding: 20px;
}

.list-gear {
    background: rgba(255, 255, 255, 0.927);
    padding: 13px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.list-gear a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-gear:hover {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgb(16, 71, 16);;
}

.list-gear img {
    height: 60px;
    width: 60px;
}

.list-gear img:hover {
    transition: ease-in-out;
    transition-duration: 1s;
    height: 150px;
    width: 170px;
}

@media (max-width: 900px) {
    .search img {
        width: 30%;
        height: 24%;
    }

    .form {
        margin: 10px auto;
        width: 55%;
    }
    .form input {
        margin-top: 10px;
    }
}
@media (max-width: 600px) {
    .search img {
        width: 25%;
        height: 14%;
    }

    .form {
        margin: 10px auto;
        width: 55%;
    }
    .form input {
        margin-top: 10px;
    }
}