.search {
    color:  rgb(16, 71, 16);;
    height: 100vh;
    width:  100%;
    background: #fcfafd;
}

.search img {
    width: 25%;
    height: 43%;
}

input {
    outline: none;
    margin-right: 5px;
    padding: 3px;
    border: .5px solid gray;
    border-radius: 4px;
}
.form button {
    padding: 4px;
}
select {
    outline: none;
    margin-right: 5px;
}
.form {
    margin-top: 10px;
}
.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-list {
    width: 50%;
    padding: 20px;
}



.list-gear {
    background: rgba(255, 255, 255, 0.927);
    padding: 13px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.list-gear a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-gear:hover {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgb(16, 71, 16);;
}

.list-gear img {
    height: 60px;
    width: 60px;
}
.list-gear img:hover {
    height: 150px;
    width: 170px;
}