.search {
    color:  rgb(16, 71, 16);;
    height: 100vh;
    width:  100%;
    background: #fcfafd;
    /* background: #44a08d; fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #44a08d, #093637); Chrome 10-25, Safari 5.1-6 */
    
    /* background: linear-gradient(to right, #44a08d, #093637); */
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-header {
    font-size: 1.5em;
    color:  rgb(16, 71, 16);
    font-weight: 200;
    letter-spacing: 4px;
    padding-top: 25px;
    height: 50px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2)

}
.search-list {
    width: 50%;
    padding: 20px;
}

.list-gear {
    background: rgba(255, 255, 255, 0.927);
    padding: 13px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.list-gear a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-gear:hover {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgb(16, 71, 16);;
}

.list-gear img {
    height: 60px;
    width: 60px;
}
.list-gear img:hover {
    height: 150px;
    width: 170px;
}