.main_background{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:100%;
    height: 100vh;
    background: #fcfafd;
}
.box_position {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    position: absolute;
    height: 35%; 
    width: 30%;
    padding:30px;
    border-radius: 10px;
    background: #fcfafd;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.logo{
    padding-top: 20px;
    margin: auto;
    width:150px;
    height:150px;
    background-image: url('./../../assets/backpack.png');
    background-size:  auto 100%;
    background-position: fill;
}
.login_button{
    /* width:45%; */
    height:40px;
    margin-top:40px;
    color:black;
    font-size:20px;
    border-radius: 6px;
    border:none;
    background:transparent;
    border: .5px solid rgb(16, 71, 16);;
    font-family: 'futura-light';
    letter-spacing: 5px;
    outline: none;
}

.login_button:hover {
    color: black;
    border: 1px solid black;
}
.helo{
    margin-top:15px;
    margin-bottom: 15px;
    font-size:1.5em;
    color:black;
    font-weight: 900;
    font-family: 'futura-light';
    letter-spacing: 5px;
}