.main-header {
    font-family: 'futura-light';
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color:  black;
    font-weight: 550;
    letter-spacing: 4px;
    height: 70px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.2);
    margin-bottom: 25px;
    box-sizing: border-box;
}

.main-header h1 {
    padding-left: 45px;
    width: 100%;
}

.main-header img {
    padding-left: 10px;
    width: 50px;
    height: 50px;
}

.icon button {
   margin-right: 50px !important;
   margin-bottom: 25px !important;
}

MenuItem {
    opacity: .5;
}

@media (max-width: 500px) {
    .main-header{
        width: 100%;
        background: transparent;
        font-family: 'futura-light';
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 2px;
    }
    .main-header img {
        padding-left: 10px;
        width: 40px;
        height: 40px;
    }
}